@import 'sidebar';

.icon {
        @extend .icon;
}

//index main 
.main {
        @include size(85%, auto);
        float: right;
        margin-top: 4rem;
        min-width: 20rem;
        &-container {
                padding-right: 2rem;
                padding-left: 2rem;
        }

        &__top {
                @include size(100%, 4rem);
                background-color: $mainColor;
                position: fixed;
                z-index: 5;
                
                &-links {
                        @include flex(flex, center, flex-start);
                        padding: 10px 10px 10px 0;
                        flex-wrap: wrap;
                        &-button {
                                display: inline-block;
                                padding: 5px;
                                background-color: $settingIcon;
                                color: $white;
                                border-radius: 9px;
                                border: none;
                                font-size: 13px;
                                margin-right: 5px;

                                &:hover {
                                        background-color: $gray;
                                        color: $white;
                                }

                        }

                        &-button.active {
                                background-color: $white;
                                color: $black;
                        }
                }
        }

        &__cards {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-around;
                gap: 20px;
                padding-top: 70px;

                .card {
                        @include size(23%, auto);
                        min-width: 15rem;
                        background: none;

                        &-image {
                                position: relative;
                                border-radius: 30px;
                                @include size(100%, 60%);
                        }

                        &-content {
                                padding: 30px 10px;
                                display: flex;
                                flex-direction: row;
                                color: $white;
                                line-height: 10px;
                                font-size: 16px;
                        }

                        &-minute {
                                position: absolute;
                                right: 2px;
                                bottom: 2px;
                                display: inline-block;
                                background-color: $black;
                                color: $white;
                                border-radius: 5px;
                                font-size: 14px;
                                z-index: 5px;
                                padding: 2px;
                        }

                        &-icon {
                                margin-right: 10px;

                                img {
                                        @include size(50px, 50px);
                                        object-fit: cover;
                                        border-radius: 50%;
                                }
                        }

                        &-name {
                                display: flex;
                                flex-direction: column;

                                .muted {
                                        color: $gray;
                                        line-height: 15px;
                                }
                        }
                }
        }

        &__shorts {
                margin-bottom: 50px;
                overflow: hidden;
                &-title {
                        margin-bottom: 15px;
                        display: flex;

                        img {
                                @include size(25px, 25px);
                                margin-right: 10px;
                                margin-left: 10px;
                        }
                }

                .shorts {
                        display: flex;
                        flex-wrap: nowrap;
                        gap: 10px;
                        width: 100%;

                        &__card {
                                @include size(12%, 300px);
                                min-width: 10rem;
                                &-img {
                                        img {
                                                object-fit: cover;
                                                @include size(100%, 250px);
                                                border-radius: 20px;
                                                margin-bottom: 10px;
                                        }
                                }

                                &-content {
                                        .title {
                                                margin-bottom: 0;
                                        }

                                        .views {
                                                font-size: 12px;
                                                color: $gray;
                                        }
                                }

                                .hr {
                                        @include size(100%, 3px);
                                        background-color: $gray;
                                        margin-bottom: 20px;
                                }
                        }
                }
        }

        .downIcon {
                text-align: center;
                justify-content: center;
                width: 100%;
                height: 30px;

                &:hover {
                        background-color: $gray;
                }
        }
}




//video.html in style
.videoMain {
        margin-top: 80px;

        &__container {
                display: flex;
                padding-left: 4rem;
                padding-right: 4rem;
        }

        &__left {
                width: 70%;
                height: 80vh;

                .bigVideo {
                        width: 100%;
                        height: 100%;
                        background-color: blue;

                        &__bottom {
                                width: 100%;
                                display: flex;
                                align-items: center;
                                justify-content: space-between;

                                &-left {
                                        display: flex;
                                        width: 50%;

                                        .icon {
                                                margin-right: 10px;

                                                img {
                                                        width: 50px;
                                                        height: 50px;
                                                        object-fit: cover;
                                                        border-radius: 50%;
                                                }
                                        }

                                        .statement {
                                                margin-right: 30px;

                                                p {
                                                        margin-bottom: 5px;
                                                }

                                                p:nth-child(2) {
                                                        font-size: 14px;
                                                        color: $gray;
                                                }
                                        }

                                        .subscribe {
                                                height: 35px;
                                                border-radius: 10px;
                                                background-color: $white;
                                                padding: 5px;

                                                &:hover {
                                                        background-color: $gray;
                                                }
                                        }

                                }

                                &-right {
                                        width: 50%;
                                        display: flex;
                                        align-items: center;
                                        justify-content: space-between;

                                        .likeDislikeNumber {
                                                background-color: $soundButonHover;
                                                width: 35%;
                                                padding: 9px;
                                                border-radius: 27px;
                                                text-align: center;

                                                &:hover {
                                                        background-color: $gray;
                                                }

                                                button {
                                                        @include size(auto, 100%);
                                                        border: none;
                                                        background-color: transparent;
                                                        color: $white;
                                                }

                                                i {
                                                        color: $white;
                                                }
                                        }

                                        .share,
                                        .save {
                                                background-color: $soundButonHover;
                                                width: 25%;
                                                padding: 9px;
                                                border-radius: 27px;
                                                text-align: center;

                                                &:hover {
                                                        background-color: $gray;
                                                }
                                        }

                                        .dotthree {
                                                background-color: $soundButonHover;
                                                width: 10%;
                                                padding: 9px;
                                                border-radius: 50%;
                                                text-align: center;

                                                &:hover {
                                                        background-color: $gray;
                                                }
                                        }
                                }
                        }

                        &__description {
                                width: 100%;
                                height: 100px;
                                border-radius: 10px;
                                background-color: $soundButonHover;
                                margin-top: 20px;
                                margin-bottom: 20px;

                                &:hover {
                                        background-color: $settingIcon;
                                }
                        }

                        &__comment {
                                .commentIcon {
                                        display: flex;
                                        margin-bottom: 40px;

                                        img {
                                                @include size(50px, 50px);
                                                object-fit: cover;
                                                border-radius: 50%;
                                                margin-right: 20px;
                                        }

                                        input {
                                                width: calc(100% - 50px);
                                                background-color: transparent;
                                                border: none;
                                                border-bottom: 2px solid $white;
                                        }
                                }
                        }
                }
        }

        &__right {
                width: 30%;
                height: auto;

                .smallVideoCards {
                        width: 100%;
                        height: 200px;

                        .smallVideoCard {
                                display: flex;
                                padding: 10px;

                                &__video {
                                        width: 45%;
                                        border-radius: 10px;
                                        border: 2px solid red;
                                        margin-right: 10px;
                                }

                                &__description {
                                        width: 55%;
                                }
                        }
                }
        }
}